
{{ $portfolioScratch := newScratch }}
{{ $portfolioMobileScratch := newScratch }}
{{ partial "slides/columns" (dict  "portfolioScratch" $portfolioScratch "portfolioMobileScratch" $portfolioMobileScratch "ctx" .) }}

{{ partial "header.html" . }}
<div class="container hero is-fullheight">
{{ partial "navbar.html" . }}
<div class="center">
    <ul>
        {{ range (where .Site.RegularPages "Type" "in" (slice "posts")).GroupByDate "2006" }}
        <h2 class="center">&nbsp;<br>{{ .Key }}</h2>
        <nav class="columns is-mobile">
            <!-- Left side -->
            <div class="column is-one-third has-text-right">
                <ul>
                    <!-- Renders the li.html content view for each content/posts/*.md -->
                    {{ range sort .Pages "PublishDate" "asc"}}
                    <article>
                        <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}"></time>
                        {{ .PublishDate.Format "Jan 02" }} &nbsp;    
                    </article>
                    {{ end }}
                </ul>
            </div>
            <!-- Right side -->
            <div class="column">
                <ul>
                    <!-- Renders the li.html content view for each content/posts/*.md -->
                    {{ range sort .Pages "PublishDate" "asc"}}
                    <article>
                        <a href="{{.RelPermalink}}">{{.Title}} </a> 
                    </article>
                    {{ end }}
                </ul>
            </div>
        </nav>
        {{ end }}
    </ul>

    <!--
    <ul>
    {{ range (where .Site.RegularPages "Type" "in" (slice "posts")).GroupByDate "2006" }}
    <h2 class="center">&nbsp;<br>{{ .Key }}</h2>
    <ul>
        <-- Renders the li.html content view for each content/posts/*.md --/>
        {{ range sort .Pages "PublishDate" "asc"}}
        <article>
        <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}"></time>
        {{ .PublishDate.Format "Jan 2" }} &nbsp;    
         <a href="{{.RelPermalink}}">{{.Title}} </a> 
        </article>
        {{ end }}
    </ul>
    {{ end }}
    </ul>
    -->
</div>

{{ partial "slides/slides" $portfolioScratch }}
{{ partial "footer" . }}
</div>
